@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Sarabun", sans-serif;
background-color: #fff;

}
header{
width: 100%;
height: 6rem;
background-color: #fff;
box-shadow: 0 0 10px 2px #706e6e;
position: sticky;
top: 0;
z-index: 1000;
}
.container{
max-width: min(90%,1400px);
margin-inline: auto;

}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 16px;
}
.navbar .logo a{
display: flex;
gap: 1rem;
align-items: center;
text-decoration: none;


}
 
.navbar .logo img{
width: 65px;
height: 65px;
border-radius: 50%;
}
.logo h1{
font-size: 2rem;
font-weight: 800;
color: #5d52ba;
}
.logo h4{
font-weight: 800;
font-size: 12px;
text-transform: uppercase;
color: #f65129;
}
.nav-links {
display: flex;
align-items: center;
gap: 3rem;
position: relative;
z-index: 1001;

}
.nav-links  li{
list-style: none;
position: relative;

}
.nav-links a{
text-decoration: none;
color: #666666;
font-size: 1.25rem;
font-weight: 200;
}
.nav-links a:hover{
color: #f65129;
}
.nav-links .register{
margin-left: 8rem;
}
.nav-links .login{
background-color: #f65129;
padding: 10px 20px;
border-radius: 50px;
text-align: center;
color: #fff;
}
.nav-links .login:hover{
background-color:#0dcaf0;
color: #fff;
}
 
.hamburger{
display: none;
}

/* About Section */
.site-header{
  display: flex;
  align-items: center;
    width: 100%;
   height:400px;
    background: linear-gradient(rgba(93, 82, 186,0.8), rgba(93, 82, 186,0.8)), url('https://www.tooplate.com/templates/2134_gotto_job/images/site-header/close-up-young-business-team-working.jpg') no-repeat center/cover;
 }
.container .title{
   width: 100%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}
.container .title h1{
   font-size: 3rem;
   font-weight: 800;
   color: #fff;
}
.title .hero-links{
   display: flex;
   list-style: none;
   gap: 8px;
   color: #5d52ba;
   background-color: #fff;
   padding: 12px 20px;
   border-radius: 50px;
}
.hero-links a{
   text-decoration: none;
   color: #5d52ba;
}
.hero-links .home:hover{
   color: #f65129;
}
 
  .container .about-us{
    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
     justify-content: center;
     gap: 2rem;
     margin-block: 5rem;

   }
  .about-us .text{ 
    
    width: 475px;
    height: 266px;
    display: flex;
    flex-direction: column;
     gap: 1rem;
    justify-content: center;
     }
    
  .about-us .text h2{
     font-size: 2.5rem;
    font-weight: 800;
  }
  .about-us .text h4{
     font-size:1.5rem;
    font-weight: 600;
  }
  .about-us .text p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(113, 114, 117);

  }
  .about-us .text .buttons a{
    text-decoration: none;
    }

  .about-us .text .buttons{
     font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .about-us .text .buttons .btn-1{
    color:#f65129;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
   border: 2px solid #f1f3f5;
  }
  .about-us .text .buttons .btn-1:hover{
    background-color: #f65129;
    color: white;
    border: none;
  }
  .about-us .text .buttons .btn-2{
    padding: 12px 24px;
    color: #717275;
  }
  .about-us .text .buttons .btn-2:hover{
    text-decoration: underline;
    text-decoration-color: #f65129;
  }
  .about-us .image{
    position: relative;
    display: flex;
    align-items: center;
    width: 475px;
    height: 266px;
  
  }
  .about-us .image img{
    width: 400px;
    height: 300px;
    border-radius: 30px;
  }
  .image .badge{
    width: 240px;
    height: 108px;
    position: absolute;
     left: 30%;
     bottom: 0;
     padding: 20px;
      border: 30px;
    background-color: rgb(93, 82, 186);
    color: white;
   border-radius: 30px;
    border-top:30px solid rgb(13, 202, 240);
    font-size: 16px;
    font-weight: 400;
  }

.container .services {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  
}

.services h2 {
     font-size: 3rem;
    font-weight: 800;

}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;

}

.service-card {
  width: 355px;
  height: 415px;
  display: flex;
  gap:1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
     padding: 40px;
     transition: transform 0.3s;
  }

.service-card:hover {
    background-color: #e0f7fa;
    border-top: 24.6667px solid #0dcaf0;
 border-radius: 24px;
}

.service-card.active {
    background-color: #e0f7fa;
    border-top: 24.6667px solid #0dcaf0;
   border-radius: 24px;
}
.icon{
  width: 120px;
    height: 120px;
    background-color: #fff;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
.icon img {
  width: 50px;
  height: 50px;
  
 }

.service-card h3 {
    font-size: 32px;
    font-weight: 800;
 }

.service-card p {
  text-align: center;
    color: #666;
    font-size: 20px;
    line-height: 32px;
}

/* Testimonials */
.container .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
  }
  
  .container .testimonials h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  
  .testimonials .reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .reviews .testimonial {
    width: 48%;
    height: 320px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 40px;
    transition: opacity 0.5s ease;
  }
  
  .testimonial .top {
    display: flex;
    justify-content: space-between;
  }
  
  .top .info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .top img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .top .info h4 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
  }
  
  .top .info span {
    font-size: 22px;
    color: #717275;
  }
  
  .top .stars {
    color: #f65129;
  }
  
  .quote {
    display: flex;
    justify-content: center;
  }
  
  .quote img {
    width: 65px;
    height: 65px;
    opacity: 0.08;
  }
  
  .quote h4 {
    font-size: 2rem;
    color: #717275;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .navigation .dot {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .navigation .dot.active {
    background-color: #f65129;
  }
  /* Cta Section */
  .cta-section{
    
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(246, 81, 41,0.8), rgba(246, 81, 41,0.8)), url('https://www.tooplate.com/templates/2134_gotto_job/images/millennial-group-young-businesspeople.jpg') no-repeat center/cover;
    padding: 150px 0;
    margin-block: 4rem;
    }
  .container .cta{
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 50px;
   
  }
  
  .cta-text {
       width: 100%;
      display: flex;
      color: #fff;
      flex-direction: column;
      gap: 1rem;
   }
  .cta-text h1 {
     font-size: 3rem;
     line-height: 30px;
    font-weight: 800;
  }
  
  .cta-text p {
     font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    color: white;
   }
  .cta-buttons {
     width: 380px;
    display: flex;
    gap: 2rem;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  
  
  }
  
  .cta-buttons .btn-1{
    padding: 15px 20px;
     border-radius: 50px;
    border: 2px solid white;
    background-color: rgb(246, 81, 41, 0.1);
    color: white;
    cursor: pointer;
  
  }
  .cta-buttons .btn-1:hover{
  background-color: white;
  color: #f65129;
  }
  .cta-buttons .btn-2{
   color: rgb(255, 255, 255);
  background-color: rgba(246, 81, 41, 0.1);
  cursor: pointer;
  border:2px solid rgba(239, 71, 29, 0.1);
   
   }
  .cta-buttons .btn-2:hover{
    text-decoration: underline;
   }
   
    /* FOOTER */
.container .footer{
    width: 100%;
    display: flex;
    align-items: center;
     
  }
  .top-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
  .right-foter{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   }
  .com-res{
    display: flex;
    gap: 5rem;
  }
  
  .logo{
    display: flex;
    gap: 1rem;
  }
  .logo img{
    width: 65px;
  height: 65px;
  border-radius: 50%;
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact i{
    color: #5d52ba;
    font-size: 1.3rem;
  }
  .email{
    display: flex;
    gap: 1rem;
    
  }
  .phone{
    display: flex;
    gap: 1rem;
  }
  .info{
    display: flex;
    gap: 1rem;
  }
   
  .info:hover{
    color: #EC4E1B;
  }
  .contact span{
    font-size: 1rem;
    font-weight: 200;
    color: #666666;
  }
  .contact span:hover{
    color: #f65129;
  }
  .company h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .company ul li {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2rem;
    color: #717275;
  }
  .Resources h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .Resources ul li {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2rem;
    color: #717275;
    
  }
  .company ul li:hover{
    color: #EC4E1B;
  }
  .Resources ul li:hover{
    color: #EC4E1B;
  }
  .Newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .Newsletter h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    
  }
  
  .get-info-jobs{
    display: flex;
    flex-direction: column;
    background-color: #d3e6f7;
    height: 10.25rem;
    width: 22.2rem;
     border-radius: 10px;
   }
  .get-info-jobs h1{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 1rem;
  }
  .get-info-jobs .inputs{
    display: flex;
    align-items: center;
  }
  .get-info-jobs .inputs input{
     width: 300px;
    height: 62px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
   }
  .get-info-jobs .inputs .fa-regular.fa-user{
    position: relative;
    top: 0;
    left: 15%;
   }
  .get-info-jobs .inputs  .fa-telegram{
    position: relative;
    top: 0;
    left: -60px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #7066cc;
    
   }
   .get-info-jobs .inputs  .fa-telegram:hover{
    color: #0dcaf0;
   }
   
  .bottom-footer {
    display: flex;
    background-color: #5d52ba;
    height: 7rem;
    width: 100%;
    margin-top: 2rem;  
  }
  .container .copyright{
    width: 100%;
    display: flex;
     color: white;
  }
  .link-and-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
   }
  .copyright span{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .describtion{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .social-media{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 0.5rem;
    color: white;
    margin-top: 1.5rem;
  }
  .link{
    background-color: #7066cc;
    border-radius: 50%;
    padding: 5px 8px;
  }
  .link:hover{
    background-color: #0dcaf0;
    transition: background-color 1s ease;
  }
  .design{
    display: flex;
    align-items: center;
  }
  .design span{
     margin-top: 1rem;
  }
  em{
    font-size: 0.9rem;
    font-weight: bold;
  }
  em:hover{
    color: #EC4E1B;
    cursor: pointer;
  }
  .arrow {
    background-color: #0dcaf0;
    padding: 0 1rem;
  }
  .arrow i{
    font-size: 3rem;
    margin-top: 1.5rem;
    color: white;
  }
  .arrow:hover{
    background-color: #EC4E1B;
  }
  
@media(max-width:768px){

    .navbar{
    padding: 15px 0;
    }
    .nav-links .register{
    margin-left: 0;
    }
    .hamburger {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 2rem;
    }
    
    
    .nav-links {
    margin-top: 6rem;
    font-size: 1.5rem;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 0;
    height:400px;
    padding: 10px 0;
    text-align: center;
    background-color:#fff;
    transform: translateY(0%);
    transition: transform 0.3s ;
    
    }
    .nav-links[data-visible="false"] {
    transform: translateY(-200%);
    }
    .hamburger i[data-visible="true"] {
    display: block;
    }
    .hamburger i[data-visible="false"] {
    display: none;
    }

   

    .about-us{
        width: 100%;
       flex-direction: column;
      
        }
      .about-us .text{ 
        width: 100%;
        margin-top: 5rem;
          }
      .about-us .text h2{
        font-size: 2rem;
       }
      
    
        
      .about-us .image{
        width: 100%;
        align-items: center;
      }
      .about-us .image img{
        width: 100%;
        height: auto;
      }
       
      .container .services {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
       
    
    }
      .services h2{
        font-size: 1.5rem;
       }
      .service-cards {
        width: 100%;
     flex-direction: column;
  
     
    
    }
    .service-card {
        width: 100%;
       
        
    }
    .reviews .testimonial {
        width: 100%;
         padding: 0 20px;
       justify-content: center;  
       border-radius: 30px; 
      }
       
      .top .info h4 {
        font-size: 1rem;
       }
       
      .top .info span {
        font-size: 14px;
       }
      
      .top .stars {
        color: #f65129;
      }
      
      .quote {
        display: flex;
        justify-content: center;
      }
      .quote h4 {
        font-size: 1rem;
        color: #717275;
      }
      /* Cta Section */
      .cta-section{
        padding: 50px 0;
      }
       .container .cta{
        width: 100%;
          flex-direction: column;
           align-items: center;
           gap: 2rem;
       
      }
        .cta-text h1{
          font-size: 2rem;
          }


                /* Footer */
    .top-footer{
        width: 100%;
         flex-direction: column;
         gap: 1rem;
        
       }
       .get-info-jobs .inputs{
          height: 100%;
         width: 100%;
            }
            
          .get-info-jobs .inputs .fa-regular.fa-user{
             top:0;
            left: 15%;
              }
          .get-info-jobs .inputs  .fa-telegram{
            position: relative;
            top: 0;
            right: 0;
             
            
           }
           .bottom-footer {
             width: 100%;
             height: 10rem;
             overflow: hidden;
           }
           .copyright{
             flex-direction: column;
          }
          .link-and-text{
             flex-direction: column;
             gap: 0;
          }
          .copyright span{
             font-size: 12px;
           }

}