@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Sarabun", sans-serif;
background-color: #fff;

}
header{
width: 100%;
height: 6rem;
background-color: #fff;
box-shadow: 0 0 10px 2px #706e6e;
position: sticky;
top: 0;
z-index: 1000;
}
.container{
max-width: min(90%,1400px);
margin-inline: auto;

}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 16px;
}
.navbar .logo a{
display: flex;
gap: 1rem;
align-items: center;
text-decoration: none;


}
 .navbar .logo img{
width: 65px;
height: 65px;
border-radius: 50%;
}
.logo h1{
font-size: 2rem;
font-weight: 800;
color: #5d52ba;
}
.logo h4{
font-weight: 800;
font-size: 12px;
text-transform: uppercase;
color: #f65129;
}
.nav-links {
display: flex;
align-items: center;
gap: 3rem;
position: relative;
z-index: 1001;

}
.nav-links  li{
list-style: none;
position: relative;

}
.nav-links a{
text-decoration: none;
color: #666666;
font-size: 1.25rem;
font-weight: 200;
}
.nav-links a:hover{
color: #f65129;
}
.nav-links a:active{
  color: #f65129;
}
.nav-links .register{
margin-left: 8rem;
}
.nav-links .login{
background-color: #f65129;
padding: 10px 20px;
border-radius: 50px;
text-align: center;
color: #fff;
}
.nav-links .login:hover{
background-color:#0dcaf0;
color: #fff;
}
 
.hamburger{
display: none;
}

/*job-detail */
.job-details {
    background: linear-gradient(rgba(93, 82, 186, 0.8), rgba(93, 82, 186, 0.8)), url('https://www.dmrict.com/templates/13/images/site-header/close-up-young-business-team-working.jpg') no-repeat center/cover;
    height: 400px;
    width: 100%;
    display: flex;
}
 .container .site-header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
 }
 .container .site-header h1{
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}
.container .hero-links{
    display: flex;
    list-style: none;
    gap: 8px;
    color: #5d52ba;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
}
.hero-links a{
    text-decoration: none;
    color: #5d52ba;
}
.hero-links .home:hover{
    color: #f65129;
}

 
 
 
.job-body {
    width: 100%;
    display: flex;
 }

.job-info {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.job-info h4 {
    font-size: 3rem;
    font-weight: 800;
}

.job-detail {
    font-size: 20px;
    color: #717275;
    display: flex;
    gap: 2rem;
}

.job-detail i {
    color: #5d52ba;
}

.job-detail a {
    text-decoration: none;
}

.job-badge {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.job-badge .position {
    font-size: 14px;
    background-color: #5d52ba;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50px;
}

.job-badge .type {
    font-size: 14px;
    background-color: #f0f8ff;
    padding: 5px 10px;
    color: #5d52ba;
    border-radius: 50px;

}

.job-badge .position:hover {
    background-color: #f65129;
}

.job-badge .type:hover {
    background-color: #f65129;
    color: #fff;
}
 
.container .jobs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 100px 0;
}

.job-Description {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    align-items: center;
}
.Job-Des{
    grid-column: 1 /span 2;
 }
.jobs .job-title {
    width: 50%;
    height: 141px;
    display: flex;
    flex-direction: column;

}

.Job-Des h2 {
    font-size: 2rem;
    line-height: 4rem;
}

.Job-Des p {
    font-size: 1rem;
    color: #717275;
    line-height: 1.5rem;
}

.Job-Des ul li {
  
     color: #717275;
    line-height: 2rem;
}

.google {
    margin-top: -2rem;
    padding: 2rem;
     display: flex;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80vh;
    border-radius: 1rem;
}

.google-logo {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.google img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.gogle-contac {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.job-title h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 4rem;

}

.gogle-contac h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.gogle-contac p {
    color: #717275;
    font-size: 1rem;
}

.job-title p {
    font-size: 20px;
    color: #717275;
}
.apply{
    display: flex;
    gap: 2rem;
}
.job-btn {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.job-btn a {
    text-decoration: none;
    background-color: #f65129;
    color: #fff;
    padding: 16px 30px;
    border-radius: 50px;
}
.btn-2 a {
    background-color: transparent;
    color: #EC4E1B;
    border: 2px solid rgba(102, 102, 102,0.1);
}
.job-btn a:hover {
    background-color: #0dcaf0;
}
.btn-2 a:hover{
    background-color: #EC4E1B;
    color: white;
}
.container .jobs{
    display: flex;
    flex-direction: column;
    gap: 3rem;
      padding: 100px 0;
    }
    .jobs .job-title{
    width: 50%;
    height: 141px;
    display: flex;
    flex-direction: column;
    
      }
      .job-title h2{
      font-size: 3rem;
      font-weight: 800;
    
      }
      .job-title p{
      font-size: 22px;
      color: #717275;
      }
     
      .job-lists{
        width: 100%;
      display: flex;
      gap: 2rem;
      }
     
    .jobs .job-box{
    width: 500px;
    height: 650px;
      display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #7777;
    
    }
    .jobs .job-box:hover{
      box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    }
    .job-box .top-box{
    position: relative;
      width: 100%;
      height:50%;
    }
    .job-box .top-box img{
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    
    }
    .top-box .job-badge{
    
    position: absolute;
    left: 20%;
    bottom: 30%;
        
      }
    .top-box .job-badge a{
    text-decoration: none;
    font-size: 14px;
    }
    .job-box .job-body h4{
    font-size: 2rem;
    font-weight: 800;
    }
    .job-box .job-body h4:hover{
    color: #f65129;
    }
    .job-box .job-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px ;
      }
    .job-box .middle-box{
      display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #717275;
    }
    .job-box .job-wrap{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .job-box .job-wrap img{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    }
    
    .job-box .middle-box .icons{
    color: #5d52ba;
    display: flex;
    gap: 1rem;
    }
    .job-box .middle-box .icons:hover{
    color: #f65129;
    }
    
    .job-box .job-info .job-detail{
    font-size: 18px;
    
    display: flex;
    flex-wrap: wrap;
    
    }
   .job-info{
        flex-direction: column;
        display: flex;
        gap: 1rem;
        }
        .job-info h4{
        font-size: 2rem;
        font-weight: 800;
        }
        .job-info h4:hover{
        color: #f65129;
        }
        .job-detail{
        font-size: 20px;
        color: #717275;
        display: flex;
        gap: 3rem;
        }
        .job-detail i{
        color: #5d52ba;
        }
        .job-detail a{
        text-decoration: none;
        }
        .job-badge{
        display: flex;
        align-items: center;
        gap: 1rem;
        }
        .job-badge .position{
        font-size: 14px;
        background-color: #5d52ba;
        padding: 5px 10px;
        color: #fff;
        border-radius: 50px;
        }
        .job-badge .type{
        font-size: 14px;
        background-color: #f0f8ff;
        padding: 5px 10px;
        color: #5d52ba;
        border-radius: 50px;
        
        }
        .job-badge .position:hover{
        background-color: #f65129;
        }
        .job-badge .type:hover{
        background-color: #f65129;
        color: #fff;
        }
        .job-btn{
        display:flex ;
        align-items: center;
        }
        .job-btn a{
        text-decoration: none;
        background-color: #f65129;
        color: #fff;
        padding: 16px 30px;
        border-radius: 50px;
        margin-left: 24px;
        }
        .job-btn a:hover{
          background-color: #0dcaf0;
        }


/* Cta Section */
.cta-section {

    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(246, 81, 41, 0.8), rgba(246, 81, 41, 0.8)), url('https://www.tooplate.com/templates/2134_gotto_job/images/millennial-group-young-businesspeople.jpg') no-repeat center/cover;
    padding: 150px 0;
    margin-block: 4rem;
}

.container .cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

}

.cta-text {
    width: 100%;
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 1rem;
}

.cta-text h1 {
    font-size: 3rem;
    line-height: 30px;
    font-weight: 800;
}

.cta-text p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
}

.cta-buttons {
    width: 380px;
    display: flex;
    gap: 2rem;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;


}

.cta-buttons .btn-1 {
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgb(246, 81, 41, 0.1);
    color: white;
    cursor: pointer;

}

.cta-buttons .btn-1:hover {
    background-color: white;
    color: #f65129;
}

.cta-buttons .btn-2 {
    color: rgb(255, 255, 255);
    background-color: rgba(246, 81, 41, 0.1);
    cursor: pointer;
    border: 2px solid rgba(239, 71, 29, 0.1);

}

.cta-buttons .btn-2:hover {
    text-decoration: underline;
}

/* FOOTER */
.container .footer{
    width: 100%;
    display: flex;
    align-items: center;
     
  }
  .top-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
  .right-foter{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   }
  .com-res{
    display: flex;
    gap: 5rem;
  }
  
  .logo{
    display: flex;
    gap: 1rem;
  }
  .logo img{
    width: 65px;
  height: 65px;
  border-radius: 50%;
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact i{
    color: #5d52ba;
    font-size: 1.3rem;
  }
  .email{
    display: flex;
    gap: 1rem;
    
  }
  .phone{
    display: flex;
    gap: 1rem;
  }
  .info{
    display: flex;
    gap: 1rem;
  }
   
  .info:hover{
    color: #EC4E1B;
  }
  .contact span{
    font-size: 1rem;
    font-weight: 200;
    color: #666666;
  }
  .contact span:hover{
    color: #f65129;
  }
  .company h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .company ul li {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2rem;
    color: #717275;
  }
  .Resources h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .Resources ul li {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2rem;
    color: #717275;
    
  }
  .company ul li:hover{
    color: #EC4E1B;
  }
  .Resources ul li:hover{
    color: #EC4E1B;
  }
  .Newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .Newsletter h1{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    
  }
  
  .get-info-jobs{
    display: flex;
    flex-direction: column;
    background-color: #d3e6f7;
    height: 10.25rem;
    width: 22.2rem;
     border-radius: 10px;
   }
  .get-info-jobs h1{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 1rem;
  }
  .get-info-jobs .inputs{
    display: flex;
    align-items: center;
  }
  .get-info-jobs .inputs input{
     width: 300px;
    height: 62px;
    padding: 10px 30px;
    text-align: center;
   }
  .get-info-jobs .inputs .fa-regular.fa-user{
    position: relative;
    top: 0;
    left: 15%;
   }
  .get-info-jobs .inputs  .fa-telegram{
    position: relative;
    top: 0;
    left: -60px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #7066cc;
    
   }
   .get-info-jobs .inputs  .fa-telegram:hover{
    color: #0dcaf0;
   }
   
  .bottom-footer {
    display: flex;
    background-color: #5d52ba;
    height: 7rem;
    width: 100%;
    margin-top: 2rem;  
  }
  .container .copyright{
    width: 100%;
    display: flex;
     color: white;
  }
  .link-and-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
   }
  .copyright span{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .describtion{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .social-media{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 0.5rem;
    color: white;
    margin-top: 1.5rem;
  }
  .link{
    background-color: #7066cc;
    border-radius: 50%;
    padding: 5px 8px;
  }
  .link:hover{
    background-color: #0dcaf0;
    transition: background-color 1s ease;
  }
  .design{
    display: flex;
    align-items: center;
  }
  .design span{
     margin-top: 1rem;
  }
  em{
    font-size: 0.9rem;
    font-weight: bold;
  }
  em:hover{
    color: #EC4E1B;
    cursor: pointer;
  }
  .arrow {
    background-color: #0dcaf0;
    padding: 0 1rem;
  }
  .arrow i{
    font-size: 3rem;
    margin-top: 1.5rem;
    color: white;
  }
  .arrow:hover{
    background-color: #EC4E1B;
  }


/* RESPONSIVE/ SMARTPHONES */

@media(max-width:768px) {

    .navbar {
        padding: 15px 0;
    }

    .nav-links .register {
        margin-left: 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        font-size: 2rem;
    }


    .nav-links {
        margin-top: 6rem;
        font-size: 1.5rem;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        font-weight: 800;
        position: fixed;
        top: 0;
        left: 0;
        height: 400px;
        padding: 10px 0;
        text-align: center;
        background-color: #fff;
        transform: translateY(0%);
        transition: transform 0.3s;

    }

    .nav-links[data-visible="false"] {
        transform: translateY(-200%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }

  

  

    .job-Description{
        grid-template-columns: 1fr;
 
    }
    .job-btn a {
        padding: 10px 15px;

    }
    
    .container .jobs{
      flex: wrap;
      }
    .job-box .job-body{
      width: 100%;
      flex-wrap: wrap;
        }
     
    .job-detail {
      flex-wrap: wrap;
      font-size: 1rem;
 
    }

    .job-title h2 {
        font-size: 1.5rem;

    }

    .job-title p {
        font-size: 20px;
    }

     .job-lists {
        width: 100%;
         flex-direction: column;
        gap: 2rem;

    }
    
      .jobs .job-title{
      width: 100%;
      }
    
      .job-title p{
      font-size: 20px;
      }
     
   
      .jobs .job-box{
      width: 100%;
       
      }
      .top-box .job-badge{
      bottom: 30%;
      }
     
      
      .google {
        width: 100%;
         height: auto;
       margin-top: 8rem;

      }
 
       /* Cta Section */
       .cta-section{
        padding: 50px 0;
      }
       .container .cta{
        width: 100%;
          flex-direction: column;
           align-items: center;
           gap: 2rem;
       
      }
        .cta-text h1{
          font-size: 2rem;
          }
      
    /* Footer */
    .top-footer{
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      gap: 0;
       
     }
     .com-res{
      margin-top: 3rem;
     }
     .Newsletter{
      width: 100%;
      height: 100%;
      margin-top: 2rem;
     }
       .get-info-jobs .inputs{
          height: 100%;
         width: 100%;
             }
            
             
      .get-info-jobs .inputs .fa-regular.fa-user{
        position: relative;
        top:0;
       left:10%;
         }
     .get-info-jobs .inputs  .fa-telegram{
       position: relative;
       top: 0;
       right: 0;
         
       
      }
           .bottom-footer {
             width: 100%;
             height: 10rem;
             overflow: hidden;
           }
           .copyright{
             flex-direction: column;
          }
          .link-and-text{
             flex-direction: column;
             gap: 0;
          }
          .copyright span{
             font-size: 12px;
           }

}